@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.card {
    margin: 1em;
}

.MuiTypography-h5 {
    font-family: Open Sans !important;
    font-weight: bold
}

.MuiTypography-h6, .descriptor {
    font-family: Roboto;
}

.descriptor {
    font-size: small;
    color: #A0A0A3;
}