.app-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    left: 2rem;
}

h2 {
    text-align: center;
    color: #e5e5e5;
}

.acme-icon {
    padding-left: 0.5rem;
}