.app-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    left: 2rem;
}

h2 {
    text-align: center;
    color: #e5e5e5;
}