@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.card {
    margin: 1em;
    max-height: 340px;
    width: 80%;
}

.card-content {
    display: flex;
    flex-direction: row;
}

.euiText > ul > li {
    font-weight: bold;
    list-style: none;

    color: #36A2EF;
}

label {
    font-family: Roboto;
    font-weight: bolder;
    font-size: x-large;
}

.descriptor {
    font-size: small;
    color: #A0A0A3;
}