@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.product-chart-container {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.product-chart-container > h2, h3 {
    text-align: center;
}

.product-chart-heading {
    font-size: 26px;
    color: #e5e5e5;
    font-family: Open Sans;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.product-chart-subheading {
    color: #999999;
    font-family: Open Sans;
    margin: 0;
}