.main-dashboard-panel {
  display: grid;
  grid-template-columns: [first] 65% [second] auto;
  grid-template-rows: [top-row] 46% [bottom-row] auto;
  row-gap: 3rem;
}

.bar-chart-panel {
    grid-column: 1;
    grid-row: top-row;
    margin-top: 0.5rem;
}

.chord-diagram-container {
  grid-column: 2;
  grid-row: top-row;

  display: flex;
  width: 100%;
  flex-direction: column;
  margin: auto;
}

.grid-panel {
 grid-row: bottom-row;
 grid-column: 1 / span 2;
}

.dashboard-component-heading {
  color: #e5e5e5;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: Open Sans;
  font-size: large;
  text-transform: capitalize;
}