.app-container {
    background-color: #7798BF;
    background-image: linear-gradient(225deg, #F68FBE 0%, #784BA0 50%, #36A2EF 90%);
}

[role="tabpanel"] {
    background-color: #32393c;
    width: 100%;
    height: 75vh;
}