body {
    background-color: #32393c;
    overflow-y: hidden;
}

.filters-toolbar {
    background-color: #32393c;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
    width: 100%;
    padding: 1rem;
}

.euiComboBox {
    margin-right: 1.5rem;
}

.euiFormControlLayout {
    margin-right: 1rem;
}